<h1>Listing wishers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wishers.each do |wisher| %>
  <tr>
    <td><%= wisher.name %></td>
    <td><%= wisher.password %></td>
    <td><%= link_to 'Show', wisher %></td>
    <td><%= link_to 'Edit', edit_wisher_path(wisher) %></td>
    <td><%= link_to 'Destroy', wisher, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wisher', new_wisher_path %>
